<table class="table table-sm table-light table-striped" *ngIf="tracks && tracks.length > 0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Track</th>
      <th scope="col">Duration</th>
      <th scope="col" *ngIf="!hideArtist">Primary Artist</th>
      <th scope="col" *ngIf="!hideAlbum">Album</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let track of tracks; let i = index">
      <!-- Row index (starts from 1) -->
      <td>{{ i + 1 }}</td>

      <!-- Track name linking to track details -->
      <td>
        <a [href]="'/track/' + track.id">{{ track.name }}</a>
      </td>

      <!-- Display track duration -->
      <td>{{ formatDuration(track.duration_ms) }}</td>

      <!-- Display first artist (only if hideArtist is false) -->
      <td *ngIf="!hideArtist && track.artists.length > 0">
        <a [href]="'/artist/' + track.artists[0].id">{{ track.artists[0].name }}</a>
      </td>

      <!-- Display album (only if hideAlbum is false) -->
      <td *ngIf="!hideAlbum && track.album">
        <a [href]="'/album/' + track.album.id">{{ track.album.name }}</a>
      </td>
    </tr>
  </tbody>
</table>
